.vscode
.data
dev.db
.github
.nuxt
.output
generated/
business_info.yml


# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build
/dist
dist-ssr

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# Vite
.vite
*.local

# Editor directories
.idea
*.swp
*.swo
*~
